Improve tests and error handling by give better description on 401 and 403 responses

**Problem description**
When testing and developing authentication and authorization it can fail due fail configuration. Giving out 401 and 403 is not always enough to help the user. In addition when writing failing test it can give a false positive.

See sample MultipleScopesIsconfigured_RequestContainsTokenDoesNotContainAnyOfTheConfiguredScopes_Returns403

The OAuth 2 protocol defines the usage of error codes.
https://datatracker.ietf.org/doc/html/rfc6750#section-3.1

**Goal**
- Reduce false positives in automatic tests
- Reduce the time a developer use on wrong configurations and error handling

**Acceptance criteria**

- Should describe and document the error codes
- Authentication scheme errors (Token validation):
   - When scope is missing or invalid the response should return WWW-Authentication header with insufficient_scope see https://datatracker.ietf.org/doc/html/rfc6750#section-3.1
   - When invalid DPoP the response should return WWW-Authentication header with 
- Discovery on other scenarioes that need error handling

**Background**
Requirement to www-authenticate header https://www.rfc-editor.org/rfc/rfc9110.html#name-www-authenticate

From Dpop draft spesification https://datatracker.ietf.org/doc/draft-ietf-oauth-dpop/11/ in section 7:
*An error parameter ([RFC6750], Section 3) SHOULD be included to
      indicate the reason why the request was declined, if the request
      included an access token but failed authentication.  The error
      parameter values described in Section 3.1 of [RFC6750] are
      suitable as are any appropriate values defined by extension.  The
      value use_dpop_nonce can be used as described in Section 9 to
      signal that a nonce is needed in the DPoP proof of subsequent
      request(s).  And invalid_dpop_proof is used to indicate that the
      DPoP proof itself was deemed invalid based on the criteria of
      Section 4.3.*

Closing this. Replaced by https://github.com/FHIDev/Fhi.Fellesteam/issues/103